// Estilos generales
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    li{
        list-style: none;
    }
}
a{
    text-decoration: none;
}
// Estilos navbar
.navbar{
    background-color: #000000;
    &.navbar-light{
        .navbar-nav{
            display: flex;
            align-items: center;
            padding: 20px;
            .nav-item{
                margin-right: 2%;
            }
            .nav-link{
                color: #ffffff;
                font-weight: 600;
                &:hover{
                    color: #e6b54a;
                }
            }
            .active{
                .nav-link{
                    color: #E7E5DF;
                    font-weight: bold;
                }   
            }
        }
    }  
}
// Estilos home
.container-home{
    height: calc(100vh - 60px);
    width: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
// Estilos ventana de listar personajes
.all-characters{
    h2{
        width: 90%;
        margin: 0 auto;
        margin-top: 2%;
    }
    .characters-grid{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 2% auto 1%;
        .character{
            &__content{
                width: 24%;
                text-decoration: none;
                margin-bottom: 2%;
                padding: 1%;
                transition: all 0.2s;
                overflow: hidden;
                &:hover{
                    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.41);
                    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.41);
                    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.41);
                    .character{
                        &__info{                    
                            .name{
                                color: #ffffff;
                                font-weight: bold;
                            }
                        }
                        .show-more{
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .character{
                    position: relative;
                    transition: all 0.2s;
                    img{
                        width: 100%;
                        height: auto;
                    }
                    &__info{                    
                        position: absolute;
                        bottom: 0;
                        background-color: rgba(57,62,65, 0.3);
                        width: 100%;
                        height: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .name{
                            color: #ffffff;
                            font-weight: bold;
                            font-family: 1.125em;
                        }
                    }
                    .show-more{
                        position: absolute;
                        top: -100%;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.5s;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(255,255,255, 0.7);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        img{
                            width: 20%;
                            height: 20%;
                        }
                        p{
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
    .pagination-characters{
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-bottom: 3%;
        .paginator{
            display: flex;
            align-items: center;
            &__item{
                width: 60px;
                height: 50px;
                margin: 0 5%;
                cursor: pointer;
            }
        }
    }
}
// Estilos ventana informacion de un personaje
.container-character{
    width: 80%;
    margin: 5% auto;
    display: flex;
    align-items: flex-start;
    .character{
        &__image{
            margin-right: 4%;
        }
        &__info{
            width: 60%;
            h1{
                margin-bottom: 5%;
            }
            .info__general{
                display: flex;
                align-items: center;
                margin-bottom: 2%;
                p{
                    margin-right: 5%;
                    span{
                        font-weight: 900;
                    }
                }
            }
            .episodes{
                h2{
                    margin-bottom: 2%;
                }
                &__list{
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    a{
                        width: 15%;
                        height: 35px;
                        line-height: 35px;
                        background-color: #393E41;
                        color: #e6b54a;
                        text-align: center;
                        border-radius: 5px;
                        font-weight: 600;
                        font-size: 0.875em;
                        margin-bottom: 2%;
                        margin-right: 1%;
                        &:hover{
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}
// Estilos ventana informacion de un episodio
.container-episode{
    margin: 5% 0;
    .episode{
        &__image{
            width: 50%;
            margin: 0 auto 3%;
        }
        &__info{
            width: 50%;
            margin: 0 auto;
            text-align: center;
            p{
                margin-bottom: 1%;
                span{
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar{
        &.navbar-light{
            .navbar-nav{
                padding: 30px;
                .nav-item{
                    margin-right: 5%;
                }
            }
        }  
    }
    .all-characters{
        .characters-grid{
            justify-content: flex-start;
            .character{
                &__content{
                    width: 30%;
                    margin: 1%;
                }
            }
        }
    }
    .container-character{
        flex-direction: column;
        .character{
            &__image{
                margin-right: 0;
                width: 100%;
                text-align: center;
                margin-bottom: 10%;
            }
            &__info{
                width: 100%;
                .episodes{
                    &__list{
                        a{
                            width: 32%;
                        }
                    }
                }
            }
        }
    }
    .container-episode{
        .episode{
            &__image{
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 600px){
    .container-home {
        height: calc(100vh - 78px);
        background-color: #000000;
        display: flex;
        align-items: center;
        img{
            height: auto;
        }
    }
    .all-characters{
        .characters-grid{
            .character{
                &__content{
                    width: 48%;
                }
            }
        }
    }
    .container-episode{
        .episode{
            &__image{
                width: 80%;
                img{
                    width: 100%;
                }
            }
        }
    }
}